*:focus{ 
    border: solid 1.7px #66AFE9;
}

section{
    background-color: white;
}

p{
    font-size: 14px;
}

.container-position {
    position: relative;
}

.column-position {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ts-background{
    background-image:  url("img/agence-la-panthere.jpg");
    background-attachment: fixed;
    
}


.text-center-1 h2 {
    margin: auto;
    width: 60%;
    /* font-size: 2rem; */
    color: black;
}

.text-center-2 figcaption, blockquote {
    margin: auto;
    /* font-size: 18px;
    width: 80%; */
    color: black;
}

.text-center-3 h2{
    margin: auto;
    width: 45%;
}

.b-black{
    background: rgba(0, 0, 0, 0.5);
    margin: auto;
}

.black{
    color: black !important;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bloc-bg-texture{
    padding: 0px;
}

.bloc-1-hero {
    background-color: white;
}

.tx-end p{
    font-size: 1.8rem;
}

@media (max-width: 767px) {
    a[data-lightbox]{
        display: flex;
        justify-content: center;
    }
    }