.toto {
    position: relative;
}

.test {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.test-background{
    background-image: url("img/agence-la-panthere.jpg");
    background-attachment: fixed;
}

.text-center-1 h2{
    margin: auto;
    width: 60%;
}

.text-center-3 h2{
    margin: auto;
    width: 45%;
}